body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:8px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.item_info, .item_data_detail {
    font-size: 14px;
}

.item_name {
    font-size: 16px;
    padding: 30px 0 20px;
}

.stock_bar {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    height: 10px;
    margin-right: 10px;
    padding: 35px 0;
    width: 15%;
}

.bx-wrapper .bx-viewport {
    background: transparent none repeat scroll 0 0;
    border: 0px solid;
    box-shadow: 0 0 0px #ccc;
    left: 0px;
}

.bx-wrapper .bx-pager {
    bottom: 7%
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff none repeat scroll 0 0;
}

.btn-skip{
    border: 1px solid #fff;
    color: #fff;
    font-size: 2em;
    font-weight: normal;
    padding: 2% 5%;
    text-shadow: 0 0 0 transparent;
    margin: -18% auto;
    position: relative;
    display: table;
}

.bx-wrapper .btn-skip:hover, .bx-wrapper .btn-skip:link, .bx-wrapper .btn-skip:visited   {
    color: #fff !important;
}

.bx-wrapper img {
    width: 100%;
}