body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.item_info, .item_data_detail {
    font-size: 14px;
}

.item_name {
    font-size: 2em;
    padding: 1% 0;
}

.bx-wrapper .bx-viewport {
    background: transparent none repeat scroll 0 0;
    border: 0px solid;
    box-shadow: 0 0 0px #ccc;
    left: 0px;
}

.bx-wrapper .bx-pager {
    bottom: 7%
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff none repeat scroll 0 0;
}

.btn-skip {
    border: 1px solid;
    bottom: 5%;
    color: #fff;
    display: table;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    padding: 2% 4%;
    position: relative;
    margin: 0 auto;
    text-shadow: 0 0 0 transparent;
}

.bx-wrapper .btn-skip:hover, .bx-wrapper .btn-skip:link, .bx-wrapper .btn-skip:visited   {
    color: #fff !important;
}

.bx-wrapper img {
    width: 100%;
}