/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-image: url("../img/choice/png/marzoni_app_choice_V2_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:fixed;
    background-size:cover;
}
/* Portrait layout (default) */
.app {
    margin: 25% auto 0;
    padding: 0;
    text-align: center;
    width: 60%;
}

.app label{
    font-size: 2em;
    font-weight: normal;
    color: #fff;
    text-shadow: 0 1px 0 #000;
}

.app img{
    width: 50%;
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */

    }
}

.selectContent {
    border: 0 none;
    padding: 15% 0;
}

.selectContent  img {
    display: block;
    margin: auto;
    position: relative;
    width: 50%;
}

.selectContent label{
    text-align: center;
    font-size: 2em;
    color: #FFF;
    text-shadow: 0 1px 0 #000;
}
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.centerLine {
    background-color: #fff;
    height: 50%;
    left: 49%;
    position: absolute;
    top: 25%;
    width: 2px;
}

.ui-header.ui-bar-inherit {
    background: transparent none repeat scroll 0 0;
    font-size: 30px !important;
    color: #FFF !important;
    text-shadow: 0 1px 0 #000 !important;
    border: 0 none;
    padding: 8% 5% 4%;
}

.appLogo{
    display: block;
    width: 40%;
    margin: auto;
}

.left_back {
    left: 5%;
    position: absolute;
    top: 25%;
    width: 5%;
}

.right_cam {
    position: absolute;
    width: 8%;
    right: 8%;
    top:40%;
}

.right_keyboard {
    width: 15%;
    position: absolute;
    right: 20px;
    top: 10px;
}

.ui-header.brown, .ui-footer.brown{
    background-color: #eee6d8;
}

.item_page {
    padding: 0px;
    min-height: 500px;
}

.ui-content.item_page > div#item_found, .ui-content.item_page > div#item_not_found{
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.item_icon_container {
    background: transparent none repeat scroll 0 0;
    position: absolute;
    right: 1px;
    width: 40%;
}

.item_icon_container > img {
    float: left;
    margin: 2%;
    width: 40%;
}

.item_image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    width: 50%;
}


.item_info, .item_data_detail{
    display: block;
    float: left;
    font-size: 24px;
    width: 96%;
    margin: 2%;
}

.item_data_detail{
    padding-bottom: 15%;
}

#item_detail{
    background-image: none;
    background-color: #FFF;
}

.item_name {
    float: left;
    font-size: 2em;
    padding: 1% 0 2%;
    text-align: left;
    width: 65%;
}

#search_form{
    background-image: url("../img/choice/png/marzoni_app_choice_V2_bg.png");
}

.ui-footer {
    bottom: 0px;
    min-height: 48px;
    position: fixed;
    width: 100%;
    border: 0px solid;
}

.lv_green {
    background-image: url("../img/product_detail/png/stock_bar_green.png");
}

.lv_red {
    background-image: url("../img/product_detail/png/stock_bar_red.png");
}

.lv_yellow {
    background-image: url("../img/product_detail/png/stock_bar_yellow.png");
}

.stock_bar_container{
    float: right;
    width: 30%;
	text-align: center;
}
.stock_bar {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    height: 1em;
    padding: 0 0 25%;
    text-align: center;
    width: 100%;
}

.ui-grid-a > .ui-block-a, .ui-grid-a > .ui-block-b {
    width: 50%;
    float:left;
}

#txtSearch, #txtBookSearch{
    font-size:3em;
}

.item_data_detail td {
    vertical-align: top;
}

ul.bxslider{
    margin-top: 0px;
}

.local.ui-footer {
    color: #4d2925;
    font-size: 2em;
    font-weight: lighter;
    min-height: 0;
    padding: 4% 5%;
    text-shadow: 0 0 0;
	width:90%;
}

.item_image > div{
    height: 100%;
}

.btn-lang.hl {
    background-color: #4d2925;
    color: #fff;
    padding: 5px 8px 3px;
}

.outofstock {
    color: red;
    font-size: 0.8em;
}

.footer_dsecription {
    font-size: 0.5em;
    margin: 0;
    text-transform: none;
}

.bx-wrapper {
    margin: 0 auto 10px;
}

.footer_note {
	padding: 5% 3%;
}

.footer_note td {
    text-align: center;
}

.ui-header.fixed{
	position: fixed;
	width:90%;
	z-index:99999;
}

.book_result_page, .ui-content.fix-header{
	margin-top: 17%;
	margin-bottom: 16%;
	overflow: visible;
}

#book_result{
	background-image:none;
}

#book_result_container span {
    font-size: 1.5em;
    padding: 2px;
	float:left;
}

.bookSearchContainer table {
    margin: 0 auto;
}

.bookSearchContainer td {
    vertical-align: top;
}

.ui-content {
	padding:0%;
}


.btn-skip {
    border: 1px solid;
    bottom: 5%;
    color: #fff;
    display: table;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    padding: 2% 4%;
    position: relative;
    margin: 0 auto;
    text-shadow: 0 0 0 transparent;
}

.red{
	color: #FF0000;
}
.purple{
	color: #b400ff;
}
.drakbrown{
	color: #6e3f34;
}
span.brown{
	color: #6e3f34;
}

.bookTitle {
    font-size: 4em;
    padding-top: 5%;
    text-align: center;
    width: 100%;
}

.bookSearchContainer {
    text-align: center;
    list-style: outside none none;
    margin: 0 auto;
    padding: 0;
}

.bookSearchContainer > p {
	margin: 1% 5%;
}

.bookSearchContainer div {
    display: table-cell;
}

.bookSearchContainer li{
	padding:0px 2%;
}


.footer_note div.out {
    background-image: url("../img/product_detail/out.png");
    background-repeat: no-repeat;
    color: #6e3f34;
    display: inline-block;
    font-size: 1.2em;
    padding-left: 30px;
    text-align: left;
}


.footer_note div.t_out {
    background-image: url("../img/product_detail/t_out.png");
    background-repeat: no-repeat;
    color: #6e3f34;
    display: inline-block;
    font-size: 1.2em;
    padding-left: 30px;
    text-align: left;
}

.footer_note div.available {
    background-image: url("../img/product_detail/available.png");
    background-repeat: no-repeat;
    color: #6e3f34;
    display: inline-block;
    font-size: 1.2em;
    padding-left: 30px;
    text-align: left;
}

.footer_note div.available-green {
    background-image: url("../img/product_detail/available-green.png");
    background-repeat: no-repeat;
    color: #6e3f34;
    display: inline-block;
    font-size: 1.2em;
    padding-left: 30px;
    text-align: left;
}